<div class="modal-header color-page-modal">
    <h2 class="modal-title text-center" style="color: white;">Gestión {{estudiante.idEstudiante == null?"Poderdante":"Apoderado"}}</h2>
</div>
<div class="modal-body">
    <div *ngIf="lsRelacionFilter?.length == 0 && input_estudiante">
        <div style="text-align: center; font-size: 20px; margin: 10px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
            El estudiante no cuenta con ningún apoderado asignado
        </div>
    </div>
    <div *ngIf="lsRelacionFilter?.length == 0 && input_apoderado">
        <div style="text-align: center; font-size: 20px; margin: 10px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
            El apoderado no cuenta con ningún poderdante asignado
        </div>
    </div>
    <div [hidden]="lsRelacionFilter?.length == 0  || input_estudiante == null" class="table-responsive" style="opacity: 0.9; border-radius: 15px; box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.35);">
        <table mat-table [dataSource]="lsRelacion" style="width: 100%;">
            <ng-container matColumnDef="tipRelacion">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Tipo relación </th>
                <td mat-cell *matCellDef="let element">{{element.tipoRelacion.descripcion}}</td>
            </ng-container>

            <ng-container matColumnDef="nomApe">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Nombre / Apellidos </th>
                <td mat-cell *matCellDef="let element">{{element.apoderado.nombres}} {{element.apoderado.apePaterno}} {{element.apoderado.apeMaterno}}</td>
            </ng-container>

            <ng-container matColumnDef="nroDoc">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Nro. Documento </th>
                <td mat-cell *matCellDef="let element">{{element.apoderado.nroDoc}}</td>
            </ng-container>

            <ng-container matColumnDef="nroCelular">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Nro. Celular </th>
                <td mat-cell *matCellDef="let element">{{element.apoderado.nroCelular}}</td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <i class="mdi mdi-delete color-page-i" (click)="eliminarRelacion(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-page-tr"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
    <!-- <table *ngIf="lsRelacion?.length > 0  && input_estudiante" class="table table-bordered" style="border: 1px solid #dbdde0;">
        <thead>
            <tr class="color-page-tr" style="color: white;">
                <th class="text-center">Tipo relación</th>
                <th class="text-center">Nombre / Apellidos</th>
                <th class="text-center">Nro Documento</th>
                <th class="text-center">Nro Celular</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody style="text-align: center;" *ngFor="let relacion of lsRelacion">
            <tr style="font-size: 12px">
                <td>{{relacion.tipoRelacion.descripcion}}</td>
                <td>{{relacion.apoderado.nombres}} {{relacion.apoderado.apePaterno}} {{relacion.apoderado.apeMaterno}}</td>
                <td>{{relacion.apoderado.nroDoc}}</td>
                <td>{{relacion.apoderado.nroCelular}}</td>
                <td>
                    <i class="mdi mdi-delete color-page-i" (click)="eliminarRelacion(relacion)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                </td>
            </tr>
        </tbody>
    </table> -->

    <div [hidden]="lsRelacionFilter?.length == 0  || input_apoderado == null" class="table-responsive" style="opacity: 0.9; border-radius: 15px; box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.35);">
        <table mat-table [dataSource]="lsRelacion" style="width: 100%;">
            <ng-container matColumnDef="tipRelacion">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Tipo relación </th>
                <td mat-cell *matCellDef="let element">{{element.tipoRelacion.descripcion}}</td>
            </ng-container>

            <ng-container matColumnDef="nomApe">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Nombre / Apellidos </th>
                <td mat-cell *matCellDef="let element">{{element.estudiante.nombres}} {{element.estudiante.apePaterno}} {{element.estudiante.apeMaterno}}</td>
            </ng-container>

            <ng-container matColumnDef="nroDoc">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Nro. Documento </th>
                <td mat-cell *matCellDef="let element">{{element.estudiante.nroDoc}}</td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;"> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <i class="mdi mdi-delete color-page-i" (click)="eliminarRelacion(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayed2Columns" class="color-page-tr"></tr>
            <tr mat-row *matRowDef="let row; columns: displayed2Columns;"></tr>
        </table>
    </div>

    <!-- <table *ngIf="lsRelacionFilter?.length > 0  && input_apoderado" class="table table-bordered" style="border: 1px solid #dbdde0;">
        <thead>
            <tr class="color-page-tr" style="color: white;">
                <th class="text-center">Tipo relación</th>
                <th class="text-center">Nombre / Apellidos</th>
                <th class="text-center">Nro Documento</th>
                <th class="text-center">Eliminar</th>
            </tr>
        </thead>
        <tbody style="text-align: center;" *ngFor="let relacion of lsRelacion">
            <tr style="font-size: 12px">
                <td>{{relacion.tipoRelacion.descripcion}}</td>
                <td>{{relacion.estudiante.nombres}} {{relacion.estudiante.apePaterno}} {{relacion.estudiante.apeMaterno}}</td>
                <td>{{relacion.estudiante.nroDoc}}</td>
                <td>
                    <i class="mdi mdi-delete color-page-i" (click)="eliminarRelacion(relacion)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                </td>
            </tr>
        </tbody>
    </table> -->
</div>
<div class="modal-footer">
    <button (click)="close()" id="cerrar" type="button " class="btn btn-warning btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
    <button *ngIf="input_estudiante" (click)="nuevoRelacion()" type="button" id="continuar" class="btn btn-sm color-page-button" style="margin: 0px 5px; ">Asignar Apoderado</button>
    <button *ngIf="input_apoderado" (click)="nuevoRelacion()" type="button" id="continuar" class="btn btn-sm color-page-button" style="margin: 0px 5px; ">Asignar Poderdante</button>
</div>