<!-- <section id="wrapper" class="login-register login-sidebar" style="background: linear-gradient(to right, #304ffe, #007951);"> -->
<section id="wrapper" class="login-register login-sidebar" style="background: #007951">
    <div style="background-image:url(assets/images/background/loginbg.jpg);background-size: contain;border-radius: 15px;width: 79%;margin-left: 10%;height: 82%;;margin-top: 4%;box-shadow: 10px -1px 48px 5px rgba(0,0,0,0.47);">
        <div class="login-box card">
            <div class="card-body opacar" style="background: #ffffffe3;margin-top: -35%;margin-bottom: -35%;margin-left: 75%;width: 100%; box-shadow: -4px 4px 40px 13px rgba(0,0,0,0.47);border-radius: 6px;">
                <form ngNativeValidate #f="ngForm" class="form-horizontal form-material">
                    <a href="javascript:void(0)" class="text-center db" style="text-decoration: none; cursor: auto;">
                        <h1 style="font-weight: bold;">COLEGIO</h1>
                    </a>
                    <div class="form-group m-t-40">
                        <div class="col-12">
                            <img src="../../assets/images/background/icon-planillas.svg" style="height: 215px; margin-left: 17%;" alt="">
                        </div>
                    </div>
                    <div class="form-group row m-t-40" style="margin-top: 6%;">
                        <div class="col-12">
                            <input [(ngModel)]="usuario.username" name="#username" class="form-control" type="text" required placeholder="Username">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-10" *ngIf="mostrarPassword">
                            <input [(ngModel)]="usuario.password" name="#text" class="form-control" autocomplete="nope" type="text" required placeholder="Contraseña">
                        </div>
                        <div class="col-10" *ngIf="!mostrarPassword">
                            <input [(ngModel)]="usuario.password" name="#password" class="form-control" autocomplete="nope" type="password" required placeholder="Contraseña">
                        </div>
                        <div class="col-2 mt-1 mb-1" *ngIf="mostrarPassword">
                            <i class="mdi mdi-eye-off" (click)="mostrarPassword = !mostrarPassword" style="font-size: 25px; color: #007951;"></i>
                        </div>
                        <div class="col-2 mt-1 mb-1" *ngIf="!mostrarPassword">
                            <i class="mdi mdi-eye" (click)="mostrarPassword = !mostrarPassword" style="font-size: 25px; color: #007951;"></i>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20" style="margin-top: 10%">
                        <div class="col-12">
                            <button [disabled]="loadRegister" id="entrar" (click)="login()" class="btn btn-info btn-lg btn-block text-uppercase " style="background: #007951;" type="submit">
                            <span [hidden]="!loadRegister" ><i class="fa fa-spin fa-spinner"></i></span>Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>