<form #salonForm="ngForm" ngNativeValidate>

    <div class="modal-header color-page-modal">
        <h2 class="modal-title text-center" style="color: white;">{{input_salon!=null?"Actualizar":"Registrar"}} Colegio</h2>
    </div>
    <div class="modal-body">
        <div class="form-row col-12 mr-3" style="border:1px solid #d6d6d6; border-radius: 15px; padding:20px 20px;">
            <div class="col-12 mb-3">
                <label for="desc">Descripcion:</label>
                <input class="form-control form-control-sm" type="text" maxlength="150" id="desc" name="#salon.descripcion" [(ngModel)]="salon.descripcion" required>
            </div>
            <div class="col-12 mb-3">
                <label for="cap">Capacidad:</label>
                <input class="form-control form-control-sm" type="text" maxlength="3" id="cap" name="#salon.capacidad" [(ngModel)]="salon.capacidad" (keypress)="verificarNumero($event)" required>
            </div>
            <div class="col-12 mb-3">
                <label for="tips">Tipo salon:</label>
                <ng-select [items]="lsTipoSalon" bindLabel="desc" bindValue="id" placeholder="Provincia" id="tips" [(ngModel)]="salon.tipoSalon" name="#salon.tipoSalon" style="width: 100%; margin-right: 10px;" required></ng-select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" id="cerrar" type="button " class="btn btn-warning btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
        <button (click)="openModalConfirmar()" type="button" id="continuar" class="btn btn-sm min color-page-button" [disabled]="salonForm.form.invalid" style="margin: 0px 5px; ">Confirmar</button>
    </div>
</form>