<form #horSecForm="ngForm" ngNativeValidate>
    <div class="modal-header color-page-modal">
        <h2 class="modal-title text-center" style="color: white;">{{horarioSeccion!=null?"Actualizar":"Registrar"}} horario</h2>
    </div>
    <div class="modal-body">
        <div class="form-row col-12" style="border:1px solid #d6d6d6; border-radius: 15px; padding:20px;">
            <div class="form-row col-12">
                <div class="col-4 mb-3">
                    <label for="hodu">Duración horas:</label>
                    <ng-select [items]="lsHoras" bindLabel="id" bindValue="id" placeholder="Seleccione.." id="hodu" [(ngModel)]="horarioSeccion.horaDuracion" name="#horarioSeccion.horaDuracion" style="width: 100%; margin-right: 10px;" required></ng-select>
                </div>
                <div class="col-4 mb-3">
                    <label for="midu">Duración minutos:</label>
                    <ng-select [items]="lsMinutos" bindLabel="id" bindValue="id" placeholder="Seleccione.." id="midu" [(ngModel)]="horarioSeccion.minutoDuracion" name="#horarioSeccion.minutoDuracion" style="width: 100%; margin-right: 10px;" required></ng-select>
                </div>

                <div class="col-4">
                    <label for="horainicio">Hora inicio:</label>
                    <input class="form-control form-control-sm" placeholder="Seleccione un hora" [ngxTimepicker]="time" [format]="12" [min]="horaIni" [max]="horaFin" [(ngModel)]="horaInicio" name="#horaInicio" readonly required>
                    <ngx-material-timepicker #time></ngx-material-timepicker>
                </div>
            </div>

            <div class="form-row col-12">
                <div class="col-4 mb-2">
                    <label for="tipc">Filtrar por tipo curso:</label>
                    <ng-select [items]="lsTipoCurso" bindLabel="descripcion" bindValue="idTipoCurso" placeholder="Seleccione.." id="tipc" [(ngModel)]="tipoCurso.idTipoCurso" name="#tipoCurso.idTipoCurso" style="width: 100%; margin-right: 10px;" (ngModelChange)="iniciarFiltro()"></ng-select>
                </div>
                <div class="col-8 mb-2">
                    <label for="tipc">Curso:</label>
                    <ng-select [items]="lsCurso" bindLabel="descripcion" bindValue="idCurso" placeholder="Ingrese la información de los filtros.." id="tipc" [(ngModel)]="curso.idCurso" name="#curso.idCurso" style="width: 100%; margin-right: 10px;" required></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" id="cerrar" type="button " class="btn btn-warning btn-sm min " style="margin: 0px 5px; ">Cancelar</button>
        <button (click)="openModalConfirmar()" type="button" id="continuar" class="btn btn-sm min color-page-button" [disabled]="horSecForm.form.invalid" style="margin: 0px 5px; ">Confirmar</button>
    </div>
</form>